.principal {
    display: flex;
    justify-content: center;
    
}

.h1 {
    font-family: 'Kiwi Maru', serif;
    margin-left: 400px;
    font-size: 30px;
    margin-bottom: 50px;
}

.primeiro {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 560px;
    width: 600px;
}

.primeiroo {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin-top: 120px;
   
}

.imgetex {
   
    display: flex;
}

.texto h1 {
    font-size: 15px;
    font-family: 'Kiwi Maru', serif;
}

.texto p {
    font-size: 10px;
    font-family: 'Kiwi Maru', serif;
    
    color: rgb(10, 197, 41);
    margin-top: 20px;
}

.texto {
    margin-left: 20px;
}

.TagImg {
    margin-bottom: 30px;
    border-radius: 600px;
}