#divOne {
    text-align: center;
}

.TagNavOne {
    background: rgba(0, 0, 0, 0.87);
    padding: 13% 10%;
    height: 100%;
    display: -webkit-box;
    align-items: center;
    color: #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0);
    min-width: 50px;
    max-width: 200px;
    max-height: 120px;
    margin-left: 80px;
    position: relative;
    top: 85px;
    left: 90px;
    transition: transform 300ms linear;
    opacity: 0.9;
}

.TagNavTwo {
    background: rgba(0, 0, 0, 0.87);
    padding: 13% 10%;
    height: 100%;
    display: -webkit-box;
    align-items: center;
    color: #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0);
    min-width: 50px;
    max-width: 200px;
    max-height: 120px;
    margin-left: 80px;
    position: relative;
    left: 740px;
    top: -420px;
    transition: transform 300ms linear;
    opacity: 0.9;
}

.TagNavTwo:hover {
    transform: scale(1.1);
}

.TagNavOne:hover {
    transform: scale(1.1);
}

#img1 {
    width: 90px;
}

#img2 {
    width: 67px;
    margin-left: 12px;
    margin-right: 12px;
}

#trans:hover {
    transform: scale(1.1);
}

#trans2:hover {
    transform: scale(1.1);
}

#textNome {
    display: inline-block;
    width: 380px;
    height: 28px;
}

#textEmail {
    display: inline-block;
    width: 380px;
    height: 28px;
}

#textMsg {
    display: inline-block;
    width: 380px;
    height: 100px;
}

#button {
    display: inline-block;
    background-color: #706fd3;
    color: white;
    width: 387px;
    height: 31px;
    transition: opacity 300ms ease-in-out;
}

#button:hover {
    opacity: 0.7;
}

.headImg {
    background-image: url('https://www.receiteria.com.br/wp-content/uploads/receitas-de-salada-mista-2.jpg');
    background-color: #576574;
    align-items: center;
    min-height: 200px;
    max-height: 900px;
}

.Tagh1 {
    font-family: 'Lobster', sans-serif;
    font-size: 55px;
    text-align: center;
    color: #000;
    text-shadow: 4px 4px 0 #54a0ff;
}

.Tagh2 {
    display: flex;
    font-family: 'Kiwi Maru', serif;
    font-weight: 500;
    font-size: 29px;
    color: #FFF;
    position: relative;
    top: -150px;
}

.TagP {
    display: inline;
    font-family: 'Kiwi Maru', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #FFF;
    position: relative;
    top: -150px;
    left: -80px;
    padding-right: 300px;
}

.TagP2 {
    display: inline;
    font-family: 'Kiwi Maru', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #FFF;
    position: relative;
    top: -120px;
    left: -290px;
    padding-right: 300px;
}

.TagA {
    display: inline-flex;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    text-decoration: none;
    font-size: 30px;
    margin-left: 2px;
    position: relative;
    top: -65px;
    left: -30px;
}

label,
input,
textarea {
    position: relative;
    left: -285px;
    top: -70px;
}

.Tagbutton {
    position: relative;
    top: -45px;
    left: -285px;
}